
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-image: url(/sign-up-form/images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    overflow: hidden;
   
}
.logoContainer{
    background-color: rgba(0, 0, 0, 0.5); 
    height: 110px;
    width: 40%;
    display: flex;
    margin-top: 10%;
}
.logoContainer img{
    height: 100px;
    margin-left: 140px;
    margin-top: 5px;
}
.logoContainer h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 46px;
    letter-spacing: 2px;
}

.formContainer {
    background-color: rgb(245, 241, 241);
    width: 60%;
    height: 100vh;
    padding: 2px;
    box-sizing: border-box;
}
.formContainer h3{
    position: relative;
    top: 80px;
    left: 30px;
}
.inputContainer {
    background-color: white;
    position: relative;
    top: 100px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    
}
.inputContainer h2{
    padding-left: 30px;
    padding-top: 10px;
    color: rgb(56, 55, 55);
}
.inputContainerTwo {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto; 
    padding-left: 30px;
  }
  
  .forms {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
  }
  
  .forms label {
    display: block;
    margin-bottom: 0px;
    color: rgb(49, 48, 48);
    font-size: 16px;
    font-weight: bold;
  }
  
  .forms input {
    width: 60%; 
    margin-bottom: 15px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    
    box-sizing: border-box; 
  }
  #password:invalid{
    border:2px solid red;
  }
  #confirmPassword:invalid{
    border:2px solid red;
  }
  .error-message {
    display: none;
    color: red;
    font-size: 0.875em; 
    margin-bottom: 15px; 
  }
  input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
    outline: none;
  }
  #password:invalid + .error-message {
    display: block;
  }
button{
    background-color:#596D48;
    position: relative;
    top: 150px;
    left: 30px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
p{
    position: relative;
    top: 155px;
    left: 30px;
}
a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
